@import "variables";
@import "hero";
@import "banner";
@import "reviews";

@font-face {
    font-family: "DM Sans";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/DMSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "DM Sans";
    font-weight: 700;
    font-style: normal;
    src: url("/assets/fonts/DMSans-Bold.woff2") format("woff2");
}

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

@mixin button() {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 1em;
    font-weight: 700;
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.15);
    width: fit-content;
    outline: transparent;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    letter-spacing: 0;

    &:hover {
        opacity: 0.9;
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.15);
    }
}

.primary-btn {
    @include button();
    background-color: $color-pink;
    color: $color-white;
}

.secondary-btn {
    @include button();
    background-color: $color-secondary-btn;
    color: $color-white;
}

.primary-text {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

.secondary-text {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0;
}