@use "variables" as *;
@use "responsive" as *;

@mixin iconGrid($side, $value, $md-side, $md-value) {
    position: absolute;
    z-index: -10;
    #{$side}: $value;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
    margin: 0 9px;
    filter: blur(10px);
    max-width: 320px;
    overflow: hidden;

    @media (min-width: 390px) {
        max-width: none;
        overflow: visible;
    }

    @include device(lg) {
        filter: none;
        #{$md-side}: $md-value;
        bottom: auto;
        top: auto;
    }
}

.hero-section {
    height: 640px;
    max-width: 1536px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    position: relative;
    overflow: visible !important;

    @include device(lg) {
        overflow: hidden !important;
    }

    .content {
        max-width: 480px;
        margin: 0 auto;
        display: grid;
        place-items: center;
        gap: 40px;
        color: $color-deep-blue;
        text-align: center;

        .hero-title {
            font-size: 60px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }
}

.icon-grid-left {
    @include iconGrid(top, -50%, left, 0);
}

.icon-grid-right {
    @include iconGrid(bottom, -50%, right, 0);
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba($color: $color-deep-blue, $alpha: 0.1);
    width: 117px;
    height: 116px;
}

@for $i from 1 through 4 {
    .col-start-#{$i} {
        grid-column-start: $i;
    }

    .row-start-#{$i} {
        grid-row-start: $i;
    }

    .col-end-#{$i} {
        grid-column-end: $i;
    }

    .row-end-#{$i} {
        grid-row-end: $i;
    }
}